.container{
    display: flex;
    border: 5px solid black;
    height: 90vh; /* vh is for viewport height 90vh means 90% of viewport height*/
    /*
    flex-direction: row; OR row-reverse OR column OR column-reverse
    */
    /* This is for main axis*/
    justify-content: space-between; /* center, flex-end, flex-start, space-around, space-evenly*/

    /* this is for cross axis */
    align-items: center; /* flex-start is default, flex-end, baseline*/

    flex-wrap: wrap; /* now they will wrap automatically if there is no space for the items to be fit; we have nowrap in default or wrap-reverse*/
    align-content: flex-start; /* it is used with flex-wrap wrap property */
    column-gap: 1em;
    row-gap: 1em;

}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#box1{
    background-color: hsl(0, 71%, 77%);
}
#box2{
    background-color: hsl(55, 71%, 77%);
}
#box3{
    background-color: hsl(125, 71%, 77%);
}
#box4{
    background-color: hsl(253, 71%, 77%);
}