body{
    background-color: black;
}

#box{
    width: 250px;
    height: 250px;
    background-color: tomato;
    font-size: 13em;
    text-align: center; 
    animation-name: slideLeft;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: linear;
}
/* #box:hover{
    animation-name: glow;
    animation-duration: 2s;
} */
@keyframes slideLeft{ /* To make an animation we need to make keyframe and then give it a name such as we gave slideLeft it's kind of making a function */
    from{transform: translateX(500%);}
}
@keyframes slideRight{ 
    to{transform: translateX(500%);}
}
@keyframes slideUp{ 
    from{transform: translateY(500%);}
}
@keyframes slideDown{ 
    to{transform: translateY(500%);}
}
@keyframes rotate{ 
    100%{transform: rotateZ(360deg)}
}
@keyframes grow{
    100%{transform: scale(2, 2)} /* 2 means 200% scaling*/
}
@keyframes shrink{
    50%{transform: scale(0.5, 0.5)}
}
@keyframes fade{
    100%{opacity: 1}
}
@keyframes colorChange{
    0%{background-color: red;}
    20%{background-color: orange;}
    40%{background-color: yellow;}
    60%{background-color: green;}
    80%{background-color: blue;}
    100%{background-color: purple;}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px yellow;}
}