body{
    margin: 0px;
}
#box1{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: lightblue;
    
    transform: translate(50%, 50%); /* we can use -ve or +ve px or % */
    transform: rotateZ(45deg);
    /*transform: scaleX(1.1);*/
    transform: skew(130deg);
}
