*{
    box-sizing: border-box;
}
body{
    margin:0;
}
header{
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
}

.navbar{
    background-color: hsl(0, 0%, 25%);
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    aside, section, article{
        width: 100%;
    }
}